.navigationLinkButton:hover {
  cursor: pointer;
}

a {
  color: #03a9f4;
}
#suiteBarDelta ,
#s4-ribbonrow,
#s4-titlerow{
  display: none !important;
}
#contentBox {
  margin: 0;
}
#contentRow {
  padding: 0;
}