 
  ul {
    list-style: none;
  }
  .button-close-column-option{      
    background-color: white;
    position: absolute;
    right: 0px;
    // margin: 15px;    
  }
  .btn-delete-field{
      max-width: 10%;
      background-color: white;
  }
  .btn-change-order{
      max-width: 10%;
      background-color: white;
  }
  .select-field{
      width: 80%;
  }
  .button-add-column{
    background-color: white;
  }