<div class="container">
    <div class="row" style="margin:15px">
        <h4 style="margin:6px">Column Options</h4>
        <button type="button" id="btnClose" class="btn float-right button-close-column-option"><i class="fa fa-close"
                style="font-size:32px;"></i></button>
    </div>
    <app-dynamic-form [customerColumns]="customerColumns"></app-dynamic-form>
    <div class="foot-actions">
        <button class="btn btn-danger btn-footer" id="btnApply">Apply</button>
        <button class="btn btn-footer" id="btnCancel">Cancel</button>
    </div>
</div>